h1, span, p
  font-family: 'Gloria Hallelujah', cursive

.show-overview
  padding: 2em
  padding-left: 15em
  padding-right: 15em
  font-size: 1.5em

.show-overview > div
  margin-bottom: 1em

.show-title
  margin-top: -5em
  margin-left: 4.5em

.show-genres
  margin-left: 10em

.show-genres, .show-rating > span
  display: inline-block

.show-rating
  margin-left: 10em

.show-summary
  margin-left: 10em

.bold
  font-weight: 900

.summary-text
  padding-top: 0.2em
  font-size: 18px
