@import './searchBar/searchBar.style.styl'
@import './showOverview/showOverview.style.styl'
@import './episodeList/episodeList.style.styl'

.app
    padding-left: 15em
    padding-right: 15em
    font-family: Arial, Helvetica, sans-serif

.app-header 
    padding-bottom: 1px
    color: white
    text-align: center

// .app-logo
//     animation: App-logo-spin infinite 20s linear
//     height: 3em
//     border-radius: 50%
//     float: left

.app-title
    margin-top: 0px
    font-size: 1.5em
    font-family: 'Gloria Hallelujah', cursive

.app-content
    font-size: large
    padding-bottom: 30px

// @keyframes App-logo-spin {
//     from {
//         transform: rotate(0deg)
//     }
//     to {
//         transform: rotate(360deg)
//     }
// }
