.app
    margin: 0
    padding: 0
    font-family: Arial, Helvetica, sans-serif

.app-header 
    background: linear-gradient(90deg, rgb(164, 9, 202), #a888c3)
    padding-top: 10px
    padding-left: 10px
    padding-bottom: 1px
    color: white

.app-logo
    animation: App-logo-spin infinite 20s linear
    height: 3em
    border-radius: 50%

.app-title
    margin-top: 0px
    font-size: 1.5em
    font-family: 'Gloria Hallelujah', cursive

.app-intro
    font-size: large
    padding-bottom: 30px
