h2
  font-family: 'Gloria Hallelujah', cursive

.episode-list
  display: flex
  flex-wrap: wrap

.episode-container
  flex-grow: 1
  width: 33%
  height: 100px
  margin-bottom: 10em

.episode-thumb
  display: flex
  flex-direction: column
  justify-content: space-evenly

.episode-thumb > img
  width: 80%

.episode-meta
  display: inline
  padding-top: 0.5em

.episode-seexyy
  font-weight: 900

.episode-name
  font-family: 'Gloria Hallelujah'
  margin-left: 0.5em
